body

{
	
background:url("background.jpg") no-repeat 0px 0px;
    
background-position: center;
	
background-size: cover;
	
background-attachment: fixed;
	
font-family: 'Muli', sans-serif;
}


input
{
	background-color:white;
}

h1
{
	
margin-top:70px;
	color:#ff9800;
	
font-size:55px;
}


table
{
	

background:url("1.png")  0px 0px;
	
padding:20px 20px 20px 20px;
	
color:#ffc107;
}


.in
{
	padding:10px 180px 10px 10px;
	
opacity:1;
}

.in2
{
	padding:7px 19px 7px 10px;
}

.in3
{
	padding:9px 19px 10px 10px;
}

.in4
{
	padding:9px 0px 10px 6px;
}
